Node-red/GreenHouse-flows.json
[
    {
        "id": "61706644d558a28d",
        "type": "tab",
        "label": "Flujo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "77bf9cfd6ea86c16",
        "type": "debug",
        "z": "61706644d558a28d",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 40,
        "wires": []
    },
    {
        "id": "d96cacb9eaee96ed",
        "type": "file",
        "z": "61706644d558a28d",
        "name": "",
        "filename": "C:\\Programacion\\FIME\\6d\\01.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 160,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "9ec8b369a22ad58a",
        "type": "serial in",
        "z": "61706644d558a28d",
        "name": "",
        "serial": "2a0f51c8bce2b802",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "30078466a1c27f68",
                "f461590781367b4e",
                "b3febb3020d17261",
                "8bdb6c9e10e66ac6",
                "5d7a96793f85ec8f",
                "d32e175d73c874cc"
            ]
        ]
    },
    {
        "id": "7664718212b39b3d",
        "type": "file",
        "z": "61706644d558a28d",
        "name": "",
        "filename": "C:\\Programacion\\FIME\\6d\\02.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 160,
        "y": 340,
        "wires": [
            []
        ]
    },
    {
        "id": "3ad412d4c73ee83b",
        "type": "file",
        "z": "61706644d558a28d",
        "name": "",
        "filename": "C:\\Programacion\\FIME\\6d\\03.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 160,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8237c45320a7e891",
        "type": "file",
        "z": "61706644d558a28d",
        "name": "",
        "filename": "C:\\Programacion\\FIME\\6d\\04.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 160,
        "y": 420,
        "wires": [
            []
        ]
    },
    {
        "id": "26b8c5bc91a40503",
        "type": "file",
        "z": "61706644d558a28d",
        "name": "",
        "filename": "C:\\Programacion\\FIME\\6d\\05.csv",
        "filenameType": "str",
        "appendNewline": false,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 160,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "0cc6c8353c3fbd8c",
        "type": "ui_gauge",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 1,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Temperatura",
        "label": "units",
        "format": "{{value}}",
        "min": "15",
        "max": "45",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 100,
        "wires": []
    },
    {
        "id": "f9717dedccad4429",
        "type": "ui_chart",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 3,
        "width": 9,
        "height": 5,
        "label": "Temperatura",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "15",
        "ymax": "45",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "30078466a1c27f68",
        "type": "function",
        "z": "61706644d558a28d",
        "name": "getTemperatura()",
        "func": "// Recuperamos los datos que vienen en el payload\nlet cad = msg.payload;\n// Array para guardar los datos separados por comas\nlet dato = cad.split(\",\");\nmsg.payload = dato[0]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 120,
        "wires": [
            [
                "0cc6c8353c3fbd8c",
                "f9717dedccad4429"
            ]
        ]
    },
    {
        "id": "11d6a16138ee828c",
        "type": "ui_gauge",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 8,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Humedad",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "40",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 180,
        "wires": []
    },
    {
        "id": "c98a325fc61c79a7",
        "type": "ui_chart",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 10,
        "width": 9,
        "height": 5,
        "label": "Humedad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 800,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "f461590781367b4e",
        "type": "function",
        "z": "61706644d558a28d",
        "name": "getHumedad()",
        "func": "// Recuperamos los datos que vienen en el payload\nlet cad = msg.payload;\n// Array para guardar los datos separados por comas\nlet dato = cad.split(\",\");\nmsg.payload = dato[1]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 200,
        "wires": [
            [
                "11d6a16138ee828c",
                "c98a325fc61c79a7"
            ]
        ]
    },
    {
        "id": "7a09befee097ff92",
        "type": "ui_gauge",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 15,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Humedad del Terreno",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 260,
        "wires": []
    },
    {
        "id": "03ba6263c5eea6c2",
        "type": "ui_chart",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 17,
        "width": 9,
        "height": 5,
        "label": "Humedad del Terreno",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "b3febb3020d17261",
        "type": "function",
        "z": "61706644d558a28d",
        "name": "getHumedadT()",
        "func": "// Recuperamos los datos que vienen en el payload\nlet cad = msg.payload;\n// Array para guardar los datos separados por comas\nlet dato = cad.split(\",\");\nmsg.payload = dato[2]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 280,
        "wires": [
            [
                "7a09befee097ff92",
                "03ba6263c5eea6c2"
            ]
        ]
    },
    {
        "id": "515fb59330ad6d1c",
        "type": "ui_gauge",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 22,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Luminosidad",
        "label": "units",
        "format": "{{value}}",
        "min": "0",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a356f3e09e7f6df",
        "type": "ui_chart",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 24,
        "width": 9,
        "height": 5,
        "label": "Luminosidad",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 810,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "8bdb6c9e10e66ac6",
        "type": "function",
        "z": "61706644d558a28d",
        "name": "getLuminosidad()",
        "func": "// Recuperamos los datos que vienen en el payload\nlet cad = msg.payload;\n// Array para guardar los datos separados por comas\nlet dato = cad.split(\",\");\nmsg.payload = dato[3]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 360,
        "wires": [
            [
                "515fb59330ad6d1c",
                "8a356f3e09e7f6df"
            ]
        ]
    },
    {
        "id": "7017259f9e112215",
        "type": "ui_gauge",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 29,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Ph",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 790,
        "y": 420,
        "wires": []
    },
    {
        "id": "9e0639c1e77706f4",
        "type": "ui_chart",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 31,
        "width": 9,
        "height": 5,
        "label": "Ph",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 790,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "5d7a96793f85ec8f",
        "type": "function",
        "z": "61706644d558a28d",
        "name": "getPh()",
        "func": "// Recuperamos los datos que vienen en el payload\nlet cad = msg.payload;\n// Array para guardar los datos separados por comas\nlet dato = cad.split(\",\");\nmsg.payload = dato[4]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 560,
        "y": 440,
        "wires": [
            [
                "7017259f9e112215",
                "9e0639c1e77706f4"
            ]
        ]
    },
    {
        "id": "747a902d4cd0a237",
        "type": "ui_gauge",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 36,
        "width": 8,
        "height": 5,
        "gtype": "gage",
        "title": "Velocidad del viento",
        "label": "units",
        "format": "{{value}}",
        "min": "30",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "50",
        "seg2": "70",
        "diff": false,
        "className": "",
        "x": 840,
        "y": 500,
        "wires": []
    },
    {
        "id": "f542944dbc4efa70",
        "type": "ui_chart",
        "z": "61706644d558a28d",
        "name": "",
        "group": "83dabb2bbc378742",
        "order": 38,
        "width": 9,
        "height": 5,
        "label": "Velocidad del viento",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "30",
        "ymax": "100",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "60",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 840,
        "y": 540,
        "wires": [
            []
        ]
    },
    {
        "id": "d32e175d73c874cc",
        "type": "function",
        "z": "61706644d558a28d",
        "name": "getVelViento()",
        "func": "// Recuperamos los datos que vienen en el payload\nlet cad = msg.payload;\n// Array para guardar los datos separados por comas\nlet dato = cad.split(\",\");\nmsg.payload = dato[5]\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 580,
        "y": 520,
        "wires": [
            [
                "747a902d4cd0a237",
                "f542944dbc4efa70"
            ]
        ]
    },
    {
        "id": "0eaac0ed33665077",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d26a2eb6672ca0f8",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 4,
        "width": 1,
        "height": 1
    },
    {
        "id": "723fc3b66347c498",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "c03d7e4394dc66fd",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "a056c6e7e242c16c",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 7,
        "width": 1,
        "height": 1
    },
    {
        "id": "7cf43b5cadef043c",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 9,
        "width": 1,
        "height": 1
    },
    {
        "id": "8d74f812fc4b217c",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 11,
        "width": 1,
        "height": 1
    },
    {
        "id": "306fd94750de4afc",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "982b897517525805",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 13,
        "width": 1,
        "height": 1
    },
    {
        "id": "e4981fcef70942c5",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 14,
        "width": 1,
        "height": 1
    },
    {
        "id": "2b136fa81f168e5a",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 16,
        "width": 1,
        "height": 1
    },
    {
        "id": "693bc6206af1509b",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 18,
        "width": 1,
        "height": 1
    },
    {
        "id": "92cc654de7813913",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 19,
        "width": 1,
        "height": 1
    },
    {
        "id": "7106cfbe3b266940",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 20,
        "width": 1,
        "height": 1
    },
    {
        "id": "ed73eee783c241e4",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 21,
        "width": 1,
        "height": 1
    },
    {
        "id": "424c6bce8c48f2a0",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 23,
        "width": 1,
        "height": 1
    },
    {
        "id": "b4bbcb71ff024894",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 25,
        "width": 1,
        "height": 1
    },
    {
        "id": "0454d1d874e77e17",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 26,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a0bdc481f754cad",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 27,
        "width": 1,
        "height": 1
    },
    {
        "id": "6bb2a093690a74f0",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 28,
        "width": 1,
        "height": 1
    },
    {
        "id": "d4e153d6624bdee9",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 30,
        "width": 1,
        "height": 1
    },
    {
        "id": "50c9b2cee04a23ae",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 32,
        "width": 1,
        "height": 1
    },
    {
        "id": "c4a0a3092bdd4b24",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 33,
        "width": 1,
        "height": 1
    },
    {
        "id": "7dd965dca9e08deb",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 34,
        "width": 1,
        "height": 1
    },
    {
        "id": "bfc0be212b9bfe27",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 35,
        "width": 1,
        "height": 1
    },
    {
        "id": "1425022710801b4c",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 37,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a3cd926b11c1929",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 39,
        "width": 1,
        "height": 1
    },
    {
        "id": "d5d9c637400cfcee",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 40,
        "width": 1,
        "height": 1
    },
    {
        "id": "56b1300d2ea6fb06",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 41,
        "width": 1,
        "height": 1
    },
    {
        "id": "7a4c80af7c777dc9",
        "type": "ui_spacer",
        "z": "61706644d558a28d",
        "name": "spacer",
        "group": "83dabb2bbc378742",
        "order": 42,
        "width": 1,
        "height": 1
    },
    {
        "id": "2a0f51c8bce2b802",
        "type": "serial-port",
        "name": "PuertoSerialProteus",
        "serialport": "COM2",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "83dabb2bbc378742",
        "type": "ui_group",
        "name": "Charts & Gauges",
        "tab": "512f0c1a88c05dcf",
        "order": 1,
        "disp": true,
        "width": "18",
        "collapse": false,
        "className": ""
    },
    {
        "id": "512f0c1a88c05dcf",
        "type": "ui_tab",
        "name": "GreenHouse",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]